body {
  margin-bottom: 10%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(249, 250, 252, 1);
}
.logo1 {
  margin-left: 10%;
  margin-right: 25%;
}
header {
  position: static;
  font-family: "Public Sans", monospace;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}
.nissanImg {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
}
.firstPart {
  display: flex;
  background: linear-gradient(top, white red);
  span {
    margin-right: 50%;
  }
}
.YMFTOP {
  margin-top: 30%;
}
.YMF {
  display: flex;
  margin-top: 10%;
  .ihiwbutton {
    padding-left: 100px;
  }
}
.boxYMF {
  align-items: center;
  width: 250px;
  display: inline;
}

.ih {
  background-color: rgba(0, 0, 0, 0);
  height: 45px;
  width: 200px;
  border-radius: 8px;
  border-color: rgba(208, 24, 24, 1);
  border-style: solid;
  color: rgba(208, 24, 24, 1);
  margin-left: 10%;
  margin-top: 5%;
}
.iw {
  background-color: rgba(208, 24, 24, 1);
  height: 45px;
  width: 200px;
  border-radius: 8px;
  border-width: 0;
  color: rgba(255, 255, 255, 1);
}
