body {
  margin-bottom: 10%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(249, 250, 252, 1);
}
.logo1 {
  margin-left: 10%;
  margin-right: 25%;
}
header {
  position: static;
  font-family: "Public Sans", monospace;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}
.nissanImg {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
}
.firstPart {
  display: flex;
}
.infocar {
  gap: 10;
  display: flex;
  justify-content: space-between;
}
.infocarhead {
  margin-top: 30%;
  display: flex;
  justify-content: space-between;
}

.ih {
  background-color: rgba(0, 0, 0, 0);
  height: 45px;
  width: 200px;
  border-radius: 8px;
  border-color: rgba(208, 24, 24, 1);
  border-style: solid;
  color: rgba(208, 24, 24, 1);
}
.iw {
  background-color: rgba(208, 24, 24, 1);
  height: 45px;
  width: 200px;
  border-radius: 8px;
  border-width: 0;
  color: rgba(255, 255, 255, 1);
}
